<!DOCTYPE html>
<html>
<head>
 <title>Scud Radio</title>
</head> 

<body>

<a onClick="handleCall('/control/up')">Volume Up</a>
<a onClick="handleCall('/control/down')">Volume Down</a>
<a onClick="handleCall('/control/next')">Next Channel</a>
<a onClick="handleCall('/control/prev')">Prev Channel</a>
<a onClick="handleCall('/control/random')">Random Channel</a>
<a onClick="handleCall('/control/power')">On/Off</a>
<a onClick="handleCall('/control/favorite')">Favorite/Unfavorite</a>

</body>

<script>

function handleCall(endpoint) {
    fetch(endpoint);
}

</script>

</html>